.btn {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  outline: none;
}

.btnWTheme:hover {
  filter: grayscale(20%);
}

.btnPrimary:hover {
  background-color: #a3e4be !important;
}

.btnDanger:hover {
  background-color: #c934ce !important;
}

.btnSuccess:hover {
  background-color: #e9e9e9 !important;
}

.btnDefault:hover {
  background-color: #adadad !important;
}

.test {
box-sizing: border-box;
}
