.btn {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  outline: none;
}

.btnWTheme:hover {
  filter: grayscale(20%);
}

.btnPrimary:hover {
  background-color: #30a5c2 !important;
}

.btnDanger:hover {
  background-color: #da4242 !important;
}

.btnSuccess:hover {
  background-color: #49ac35 !important;
}

.btnDefault:hover {
  background-color: #999999 !important;
}

.test {
  color: #b4b4b4;
}
